<%= render 'books/userinfo', user: @user, book: @book %>


<h2>Books</h2>

<% @books.each do |book| %>

  <p>Title<%= link_to book.title,book_path(book.id) %></p>
  <p>Opinion<%= book.body %></p>

<% end %>
